@model SGGWSupportWeb.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Zmiana hasła";
}

@section styles {
    @Styles.Render("~/Content/changePassword")
}
<div class="changePassword-container">
    <div class="changePassword-content">
        <header class="changePassword-header"><h2>Zmiana hasła</h2></header>
        <section>
            @using (Html.BeginForm("ChangePassword", "Authorize", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group input-group-md">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Stare hasło" })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group input-group-md">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Nowe hasło" })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group input-group-md">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Ponownie nowe hasło" })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" value="Zapisz" class="btn btn-primary" />
                            </div>
                            <div class="col-md-6">
                                <span id="wyczysc_form" class="btn btn-primary" >Wyczyść</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/changePassword")
}
