<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">
                    <img src="~/Content/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    <span class="brand-name">SGGW Support</span>
                </a>
                @Html.ActionLink("Statistics","Index","Statistics", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Zgłoszenia", "Index", "Ticket", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*Nawigacja*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer class="text-center text-info">
            <p>&copy; 2017 - SGGW Support</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
