<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SGGWSupport</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">
                    <img src="~/Content/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    <span class="brand-name">SGGW Support</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="min-height:500px">
        <div class="row" style="margin:0px;">

            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="text-center text-info">
        <p>&copy; 2017 - SGGW Support</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

