@model List<SGGWSupportWeb.Models.UsersViewModel>

@{
    ViewBag.Title = "Użytkownicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Lista użytkowników</h3>
        <br /><br />
        <div class="form-group">
            <div class="col-md-1">
                @Html.ActionLink("Nowy użytkownik", "Create", "Users", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Login</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Adres email</th>
                <th>Numer telefonu</th>
                <th></th>
            </tr>
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.Login</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNo</td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { userId = user.Id }, new { @class = "ticket-btn btn btn-success" })
                    @Html.ActionLink("Szczegóły", "UserDetails", new { userId = user.Id }, new { @class = "ticket-btn btn btn-primary" })
                </td>
            </tr>   
            }
        </table>
        <hr />
    </div>
}

<div>
    @Html.ActionLink("Powrót", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
