@model SGGWSupportWeb.Models.TicketViewModel

@{
    ViewBag.Title = "Zgłoszenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-condensed table-striped ticket-table">
    <tr>
        <th style="width:40%; word-wrap: break-word;" class="text-center">
            <em>@Html.DisplayNameFor(model => model.Title)</em>
        </th>
        <th style="width:13%" class="text-center">
            <em>@Html.DisplayNameFor(model => model.Priority)</em>
        </th>
        <th style="width:13%" class="text-center">
            <em>@Html.DisplayNameFor(model => model.Status)</em>
        </th>
        <th style="width:13%" class="text-center">
            <em>@Html.DisplayNameFor(model => model.TicketEditTime)</em>
        </th>
        <th></th>
    </tr>
        
    <tr>
        <td>
            Instalacja MS Office 2016
        </td>
        <td class="text-center">
            <button class="btn ticket-btn btn-warning">Średni</button>
        </td>
        <td class="text-center">
            W trakcie
        </td>
        <td class="text-center">
            14/10/2017 16:30
        </td>
        <td class="text-right">
            @Html.ActionLink("Edytuj", "EditTicket", null, new { @class = "btn ticket-btn btn-success" })
            @Html.ActionLink("Szczegóły", "GetTicket", null, new { @class = "btn ticket-btn btn-primary" })
        </td>
    </tr>
    
    <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td class="text-right">
            @Html.ActionLink("Edytuj", "EditTicket", null, new { @class = "btn ticket-btn btn-success" })
            @Html.ActionLink("Szczegóły", "GetTicket", null, new { @class = "btn ticket-btn btn-primary" })
        </td>
    </tr>
    
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">
            @Html.ActionLink("Edytuj", "EditTicket", null, new { @class = "btn ticket-btn btn-success" })
            @Html.ActionLink("Szczegóły", "GetTicket", null, new { @class = "btn ticket-btn btn-primary" })
        </td>
    </tr>
</table>

