@model IEnumerable<SGGWSupportWeb.Models.TicketViewModel>

@{
    ViewBag.Title = "Zgłoszenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    <div class="col-md-1">
        @Html.ActionLink("Nowe zgłoszenie", "AddTicket", "Ticket", null, new { @class = "btn btn-primary" })
    </div>
</div>

<br /><br />

<div class="panel panel-primary ticket-index-panel">
    <div class="panel-heading ticket-index-header"></div>
        
        <div class="panel-body">
            <table class="table table-condensed table-striped ticket-table">
                <tr>
                    <th style="width:40%; word-wrap: break-word;" class="text-center">
                        <em>@Html.DisplayNameFor(model => model.Title)</em>
                    </th>
                    <th style="width:13%" class="text-center">
                        <em>@Html.DisplayNameFor(model => model.Priority)</em>
                    </th>
                    <th style="width:13%" class="text-center">
                        <em>@Html.DisplayNameFor(model => model.Status)</em>
                    </th>
                    <th style="width:13%" class="text-center">
                        <em>@Html.DisplayNameFor(model => model.TicketAddTime)</em>
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.Priority)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.Status)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.TicketAddTime)
                    </td>
                    <td class="text-right">
                        @Html.ActionLink("Edytuj", "EditTicket", null, new { @class = "btn ticket-btn btn-success" })
                        @Html.ActionLink("Szczegóły", "TicketDetails", null, new { @class = "btn ticket-btn btn-primary" })
                    </td>
                </tr>

                
                }
            </table>

        </div>
   
</div>